<!doctype html>
<html>
  <head>
    {% block head %}
    <title>{% block titre %}Vide tes poches !{% endblock %}</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" charset="utf-8" src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="static/js/app.js"></script>
    {% endblock %}
  </head>
  <body>
    <div id="content">{% block content %}{% endblock %}
    </div>
    <div id="footer">{% block footer %}{% endblock %}
    </div>
  </body>
</html>
