{% extends "base.html" %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<form action="/results">
<div id="vp-flags">
    {% for code in codes %}
    <div class="vp-flag vp-flag-{{code}}">
	<img class="vp-flag-img" src="static/imgs/thumb/{{code}}.png", height="155px">
	
	<div class="vp-quantity">
	    <div class="vp-quantity-button vp-quantity-up">+</div>
	    <input class="vp-number-input" name="{{code}}" type="number" min="0" max="10" step="1" value="0">
	    <div class="vp-quantity-button vp-quantity-down">-</div>
	</div>
    </div>
    {% endfor %}
</div>

<div id="submit">
    <input type="submit">
</div>
</form>
{% endblock %}
