{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" charset="utf-8" src="static/js/d3.v4.min.js"></script>
<!-- <script type="text/javascript" charset="utf-8" src="static/js/cartogram4.js"></script> -->
<script type="text/javascript" charset="utf-8" src="static/js/topojson.min.js"></script>
<script type="text/javascript" charset="utf-8" src="static/js/accueil.js"></script>

{% endblock %}

{% block content %}


<div id="container">
</div>

{% if toapropos %}
<div id="toapropos">
</div>
{% endif %}


<div id="vp-accueil">
	<div>
	<h1>Videz vos poches des pièces de monnaies qu'elles contiennent</h1>
    <h2>et découvrez comment ces pièces voyagent à travers l'Europe !</h2>
  </div>

	<div class="vp-accueil-1euro">
	    <img src="static/imgs/1euro.png"/>
	</div>

	
  <div class="vp-accueil-buttons">
    <div class="vp-button vp-jouer">
      Jouer
    </div>
    
    <div class="vp-button vp-apropos">
      En savoir plus
    </div>
  </div>

  <div id="vp-apropos">
      <h1> En savoir plus </h1>
      <p> Ce jeu proposé par Centre Sciences vous invite à découvrir comment circulent les pièces de monnaies que nous avons chacun dans nos poches </p>
      <p>
      En effet, depuis la mise en place à partir de 2002 de l'Euro comme monnaie commune à maintenant 19 pays européens au sein de l'Union européenne, ces pièces circulent au gré des déplacements des personnes qui habitent ou passent dans l'un de ces pays.
      </p>
      <p>
      Toutes les pièces en euro possèdent une face européenne commune (1, 2 et 5 centimes : l'Europe dans le monde ; 10, 20 et 50 centimes : l'Europe comme une alliance d'États ; 1 et 2 euros : l'Europe sans frontière) et une face spécifique au pays émetteur (y compris Monaco, Saint-Marin, le Vatican et Andorre, États en union monétaire avec leurs voisins immédiats qui sont autorisés à frapper leurs propres pièces).
      </p>
      <p>
      Le jeu permet ainsi d'avoir une vision statistique partielle de la circulation des pièces à travers vous qui voulez bien participer à ce jeu
      </p>
      <p>
      Crédits : Un jeu proposé par Centre Sciences développé par Laurent Malys / Labomedia
      </p>

      <div class="vp-apropos-logo">
	  <img src="static/imgs/logos/logos.png">
      </div>

      <div class="vp-apropos-buttons">
	  <div class="vp-button vp-jouer">
	      Jouer
	  </div>
	  
	  <div class="vp-button vp-apropos-accueil">
	      Retour à l'accueil
	  </div>
      
  </div>
</div>

{% endblock %}
