{% extends "base.html" %}

{% block head %}
{{ super() }}
<script type="text/javascript" charset="utf-8" src="static/js/d3.v4.min.js"></script>
<!-- <script type="text/javascript" charset="utf-8" src="static/js/cartogram4.js"></script> -->
<script type="text/javascript" charset="utf-8" src="static/js/rectCollide.js"></script>
<script type="text/javascript" charset="utf-8" src="static/js/topojson.min.js"></script>
<script type="text/javascript" charset="utf-8" src="static/js/idle-timer.js"></script>
<script type="text/javascript" charset="utf-8" src="static/js/results.js"></script>
{% endblock %}

{% block content %}

<div id="vp-infos">
    
    <div class="vp-infos-videz">
	<h1 class="vp-infos-title">Videz vos poches</h1>
	
	<div class="vp-infos-content">
	    <ul>
		<li><p>
		    Videz vos poches des pièces de monnaies qu'elles contiennent.
		</p></li>
		<li><p>
		    Retrouvez le pays d'où elles proviennent grâce au catalogue papier disposé à côté de l'écran.
		</p></li>
		<li><p>
		    Appuyez sur "+" à chaque fois que vous trouvez une pièce correspondant au pays (9 pièces par pays maximum).
		</p></li>
		
		<li><p>
		    Validez pour voir les statistiques.
	    </p></li>
	    </ul>
	</div>
    </div>
    <div class="vp-infos-statistiques">
	<h1 class="vp-infos-title">Statistiques</h1>
	
	<div class="vp-infos-content">
	    <p>
		Cet écran figure l'origine des pièces que vous aviez dans les poches ainsi que celles des personnes qui ont jouées avant vous.
	    </p>

	    <p>
		Appuyer sur "suivant" pour passer d'une visualisation à une autre.
	    </p>

	    <p>
		Que constatez-vous ?
	    </p>
	    <p>
		D'où proviennent majoritairement les pièces que l'on a dans les poches ?
	    </p>
	</div>	
    </div>
</div>

<div class="vp-button vp-button-accueil">
    Retour à l'accueil
</div>


<div id="container">
</div>

<div class="vp-data-result">
    <ul >
	{% for c, i in data.items() %}
	<li>
	    <div class="vp-data vp-data-{{c}}">
		{{c}} : total = <span class="vp-data-tot">{{i.n}}</span>
	    </div>
	</li>
	{% endfor %}
    </ul>
</div>
      
{% endblock %}
