body{
    background:#ddd;
    margin:0;
    font-family: sans-serif;
    font-size:24px;
    overflow:hidden;
//    pointer-events:none;

-webkit-user-select: none; // For Webkit
-khtml-user-select: none;
-moz-user-select: none; // For Mozilla
}

h1{
    font-size:48px;
}

h2{
    font-size:36px;
}

#container{
    z-index:-99;
}

#vp-accueil{
    position:absolute;
    z-index:10;
    top:0px;
    left:30%;
    width:40%;
    height:200%;
    padding:3%;
    background:rgba(254, 254, 254, 0.7);
    text-align:center;
}

.vp-accueil-buttons{
    width:87%;
    position:absolute;
    top:750px;
}

.vp-accueil-1euro{
    margin-top:80px;
}

#vp-accueil .vp-button{
    margin-left:0;
    margin-right:0;
    margin-top:2%;
    margin-bottom:2%;
    width:100%;
}


#vp-apropos{
    position:absolute;
    top:1080px;
    text-align:left;
    width:80%;
    font-size:18px;
}

.vp-apropos-logo{
    margin-top:50px;
    margin-bottom:50px;
}

.vp-apropos-buttons{
    width:768px;
}

#vp-infos{
    top:0px;
    padding-top:3%;
    padding-left:4%;
    padding-right:4%;
    position:absolute;
    left:66%;
    width:26%;
    height:200%;
    background:rgba(254, 254, 254, 0.7);
    background-opacity:0.7;
    z-index:10;
}

.vp-button{
    margin:5%;
    width:450px;
    float:left;
    background:#ffcc00;
    height:70px;
    text-align:center;
    font-size:24px;
    font-weight:bold;
    line-height:3em;
}

.vp-button:active{
    background-color:#0033ff;
}

.vp-infos-videz{
    position:absolute;
    width:80%;
}

.vp-infos-statistiques{
    position:absolute;
    width:80%;
    top:1080px;
}

.vp-valider{
    position:absolute;
}

.vp-button-accueil{
    position:absolute;
    left:1280px;
    top:850px;
    z-index:200;
}

.vp-next{
    position:absolute;
    top:1870px;
}

.vp-apropos-statistics{
    position:absolute;
    top:1870px;
}

.vp-next-text{
    margin:auto;
}


.vp-flags{
    position:absolute;
}

.vp-flag{
    position:relative;
    display:inline-block;
    height:155px;
    background:white;
    border-radius:30px;
    margin:25px;
}

.vp-flag-img{
    left:60px;
    top:0px;
    display:inline-block;
}

.vp-number-input{
    width:40%;
    position:relative;
    left:30%;
    display:block;
}

.vp-quantity {
    width:80px;
    height:100%;
    display:inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.vp-quantity input {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  text-align: center;
  font-size: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif !important;
  line-height: 1.4;
  top:17px;
  left:22px;
}

.vp-quantity input:focus {
  outline: 0;
}

.vp-quantity-button {
    display:block;
    float:right;
    cursor: pointer;
    width: 40px;
    height: 40px;
    text-align: center;
    background:#eee;
    border-radius:20px;
    color: #111;
    font-size: 32px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.2;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.vp-quantity-button.vp-quantity-up {
    position: relative;
    top:15px;
    right:-25px;
}

.vp-quantity-button.vp-quantity-down {
    position: relative;
    top:18px;
    right:-25px;
}


.vp-data-result{
    display: none;
}

.axis {
    font: 20px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

.xAxis text {
    fill: #000;
    font-family: sans-serif;
    font-size: 14px;
}

.xAxis .xAxis-title  {
    fill: #000;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.flag-title{
    fill: #000;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 400;
}

.flag-nb, .flag-signe{
    fill: #000;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 400;
    pointer-events:none;
}

.nodes, .links{
    pointer-events:none;
}
